<div class="row text-white">
    <h3>Html</h3>
    <mat-progress-bar mode="determinate" 
    value="90" class="html">90</mat-progress-bar>
    <h3>Css</h3>
    <mat-progress-bar mode="determinate" 
    value="80" class="html">80</mat-progress-bar>
    
    <h3>Javascript</h3>
    <mat-progress-bar mode="determinate" 
    value="79" class="html">60</mat-progress-bar>
    <h3>Angular</h3>
    <mat-progress-bar mode="determinate" 
    value="79" class="html">60</mat-progress-bar>
    <h3>React JS</h3>
    <mat-progress-bar mode="determinate" 
    value="85" class="html">70</mat-progress-bar>
    
</div>
    